name: pikpak_auto
on:
  workflow_dispatch:
  schedule:
    # 每天9点半执行
    - cron:  '0 0 * * 2,5'

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # attempt: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]  # 5次尝试
        attempt: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: pip install -r requirements.txt
      # - run: python myPikpakQQEmail.py
      - run: python Pikpak_Temporary.py
